/* Estilo da página index */

font-20{
    font-size: 30px;
    text-align: center;
}

.font-bold{
    font-weight: bold;
}

#color-rgb{
    color: rgb(49, 70, 52);
}

.container{
    display: flex;
    justify-content: left;     /* Eixo Horizontal*/
    align-items: center;        /* Eixo Vertical */
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
   }
   .cat {
    height:300px;
    width: 300px;
   }

/* Estilo da página lista*/